<% provide(:title, @user.name) %>

<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
    </aside>
    <div class="col-md-8">
        <h3>Game History (<%= @user.games.count %> games)</h3>
        <% if @user.games.any? %>
        <ul>
            <%= render @games%>
        </ul>
        <%= will_paginate @games%>
        <% end %>
    </div>
</div>

<div class="row center">
    <%= link_to "Play Game!", play_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Log Out", logout_path, data: {"turbo-method": :delete}, class: "btn btn-lg btn-primary" %>
</div>