<p style="color: green"><%= notice %></p>

<%= render @user %>

<%=  if @user.microposts.length > 0 then
render @user.microposts[0]
end %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
